<div class="option-content">

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" translate>app.window.shortcuts.description1</div>
        <div class="col-xs-12" translate>app.window.shortcuts.description2</div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <component-option-input-shortcuts id="end-turn" name="{{ 'app.option.shortcuts.diver.end-turn' | translate }}" [(model)]="settingsService.option.shortcuts.diver.end_turn"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-4">
            <component-option-input-shortcuts id="open-chat" name="{{ 'app.option.shortcuts.diver.open-chat' | translate }}" [(model)]="settingsService.option.shortcuts.diver.open_chat"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-4">
            <component-option-input-shortcuts id="goto_up_map" name="{{ 'app.option.shortcuts.diver.goto_up_map' | translate }}" [(model)]="settingsService.option.shortcuts.diver.goto_up_map"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="goto_bottom_map" name="{{ 'app.option.shortcuts.diver.goto_bottom_map' | translate }}" [(model)]="settingsService.option.shortcuts.diver.goto_bottom_map"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="goto_left_map" name="{{ 'app.option.shortcuts.diver.goto_left_map' | translate }}" [(model)]="settingsService.option.shortcuts.diver.goto_left_map"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="goto_right_map" name="{{ 'app.option.shortcuts.diver.goto_right_map' | translate }}" [(model)]="settingsService.option.shortcuts.diver.goto_right_map"></component-option-input-shortcuts>
        </div>
    </div>
</div>