<div class="option-content">

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" translate>app.window.shortcuts.description1</div>
        <div class="col-xs-12" translate>app.window.shortcuts.description2</div>
    </div>

    <div class="row">

        <div class="col-xs-3">
            <component-option-input-shortcuts id="carac" name="{{ 'app.option.shortcuts.interfaces.carac' | translate }}" [(model)]="settingsService.option.shortcuts.interface.carac"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="spell" name="{{ 'app.option.shortcuts.interfaces.spell' | translate }}" [(model)]="settingsService.option.shortcuts.interface.spell"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="bag" name="{{ 'app.option.shortcuts.interfaces.bag' | translate }}" [(model)]="settingsService.option.shortcuts.interface.bag"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="bidhouse" name="{{ 'app.option.shortcuts.interfaces.bidhouse' | translate }}" [(model)]="settingsService.option.shortcuts.interface.bidhouse"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="map" name="{{ 'app.option.shortcuts.interfaces.map' | translate }}" [(model)]="settingsService.option.shortcuts.interface.map"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="friend" name="{{ 'app.option.shortcuts.interfaces.friend' | translate }}" [(model)]="settingsService.option.shortcuts.interface.friend"></component-option-input-shortcuts>
        </div>

        <div class="col-xs-3">
            <component-option-input-shortcuts id="book" name="{{ 'app.option.shortcuts.interfaces.book' | translate }}" [(model)]="settingsService.option.shortcuts.interface.book"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="guild" name="{{ 'app.option.shortcuts.interfaces.guild' | translate }}" [(model)]="settingsService.option.shortcuts.interface.guild"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="conquest" name="{{ 'app.option.shortcuts.interfaces.conquest' | translate }}" [(model)]="settingsService.option.shortcuts.interface.conquest"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="goultine" name="{{ 'app.option.shortcuts.interfaces.goultine' | translate }}" [(model)]="settingsService.option.shortcuts.interface.goultine"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="job" name="{{ 'app.option.shortcuts.interfaces.job' | translate }}" [(model)]="settingsService.option.shortcuts.interface.job"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="alliance" name="{{ 'app.option.shortcuts.interfaces.alliance' | translate }}" [(model)]="settingsService.option.shortcuts.interface.alliance"></component-option-input-shortcuts>
        </div>

        <div class="col-xs-3">
            <component-option-input-shortcuts id="mount" name="{{ 'app.option.shortcuts.interfaces.mount' | translate }}" [(model)]="settingsService.option.shortcuts.interface.mount"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="directory" name="{{ 'app.option.shortcuts.interfaces.directory' | translate }}" [(model)]="settingsService.option.shortcuts.interface.directory"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="alignement" name="{{ 'app.option.shortcuts.interfaces.alignement' | translate }}" [(model)]="settingsService.option.shortcuts.interface.alignement"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="bestiary" name="{{ 'app.option.shortcuts.interfaces.bestiary' | translate }}" [(model)]="settingsService.option.shortcuts.interface.bestiary"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="title" name="{{ 'app.option.shortcuts.interfaces.title' | translate }}" [(model)]="settingsService.option.shortcuts.interface.title"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="achievement" name="{{ 'app.option.shortcuts.interfaces.achievement' | translate }}"
                [(model)]="settingsService.option.shortcuts.interface.achievement"></component-option-input-shortcuts>
        </div>

        <div class="col-xs-3">
            <component-option-input-shortcuts id="dailyQuest" name="{{ 'app.option.shortcuts.interfaces.dailyQuest' | translate }}" [(model)]="settingsService.option.shortcuts.interface.dailyQuest"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="spouse" name="{{ 'app.option.shortcuts.interfaces.spouse' | translate }}" [(model)]="settingsService.option.shortcuts.interface.spouse"></component-option-input-shortcuts>
            <component-option-input-shortcuts id="shop" name="{{ 'app.option.shortcuts.interfaces.shop' | translate }}" [(model)]="settingsService.option.shortcuts.interface.shop"></component-option-input-shortcuts>
        </div>
    </div>
</div>