.main-content{
    flex: 1;
    display: flex;
    margin-top: 25vh;

    .information{
        margin-bottom: 15px;
    }
}

.toolbar-child-window{
    
    -webkit-app-region: drag;

    .close{
        -webkit-app-region: no-drag;
    }
}

