<div class="option-content">

    <div class="row">

        <div class="col-xs-12">

            <h2>{{ applicationService.appName }} {{ version }}</h2>

            <span translate>app.window.options.about.links.website</span> : <a href="#" (click)="goToWebsite($event)">{{ environment.websiteUrl }}</a>

            <div class="team" translate>app.window.options.about.text0</div>
            <div class="team" translate>app.window.options.about.text1</div>
            <div class="team" translate>app.window.options.about.text2</div>
        </div>

    </div>
</div>
