<div class="option-content">

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" translate>app.window.shortcuts.description1</div>
        <div class="col-xs-12" translate>app.window.shortcuts.description2</div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <component-option-input-shortcuts id="health_bar_shortcut" name="{{ 'app.window.options.features.general.health-bar-shortcut' | translate }}" [(model)]="settingsService.option.vip.general.health_bar_shortcut"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>
