<component-toolbar></component-toolbar>

<div class="main-content">

    <ng-container *ngIf="authService.authRequired">
        <component-auth></component-auth>
    </ng-container>

    <ng-container *ngIf="!authService.authRequired">

        <div class="main-tabs">
            <component-tab-game></component-tab-game>
        </div>

        <div class="main-tabs-content">
            <component-game *ngFor="let game of gameService.games" (selected)="tabGameService.selectTabGame(game.id)" [game]="game" [hidden]="!game.isFocus"></component-game>

            <!-- Permet de charger le styles des boutons matérial manuellement -->
            <button class="none" mat-raised-button></button>
        </div>

    </ng-container>
</div>
