.tabs-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

div.tab {
  width: 56px;
  height: 56px;
  cursor: pointer;
  display: block;
  margin: 7px auto 0 auto;
  border-radius: 50%;
  font-weight: 200;
  font-size: 40px;
  &.tab-add {
    text-align: center;
    line-height: 100%;
    background: #2b2b2b;
    color: #6b6b6b;
    border: 1px dashed #535559;
  }
  &.tab-tab {
    opacity: .7;
    border-width: 1px;
    border-style: solid;
    position: relative;
    text-align: center;
    line-height: 100%;
    background: #2b2b2b;
    border-color: #535559;
    color: #6b6b6b;
    .icon-char {
      overflow: hidden;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      display: none;
    }
    .tab-close {
      display: none;
    }
    &:hover {
      .tab-close {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 0;
        right: 0;
        font-size: 15px;
        line-height: 1;
        padding: 1px;
        background: white;
        color: black;
        .mat-icon {
          width: 17px;
        }
      }
    }
    &.notification {
      opacity: 1;
      animation: blink 1.5s linear infinite;
    }
    &.focus {
      opacity: 1;
      color: white;
      border-width: 2px;
      border-color: #607d8b;
    }
  }
  &:hover {
    background: #2f2f2f;
  }
}

.options {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
  
  button {
    opacity: .7;
    height: 40px;
    width: 40px;
    margin-bottom: 14px;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: .9;
    }
  }
}

@keyframes blink {
  0% {
    border-color: #fffc89;
  }
  50% {
    border-color: #ff8d5f;
  }
  100% {
    border-color: #fffc89;
  }
}
