.option-content {
    padding: 20px;
    padding-top: 0px;
    overflow: auto !important;
    flex: 1;
}


.SIDE {
    overflow: auto;
}

.version-date {
    font-size: 14px;
    font-weight: normal;
    float: right;
    padding-top: 5px;
}
