body,
html,
application {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  color: white !important;
}

a:focus {
  outline: 0px !important;
}

component-app {
  flex: 1;
  display: flex;
}

component-main {
  flex: 1;
  display: flex !important;
  flex-direction: column !important;
  background: #424242;
}

component-auth {
  flex: 1;
  display: flex !important;
  flex-direction: column !important;
  background: url("../images/auth-bg.jpg") bottom center no-repeat;
  background-size: cover;
}

component-options,
component-bug-report {
  width: 100%;
  flex: 1;
  display: flex !important;
  flex-direction: column !important;
}

component-option-general {
  overflow: auto;
}

component-option-general,
component-game-update,
component-official-game-update,
ng-component {
  flex: 1;
}

.mat-card-header-text {
  height: 20px !important;
  margin: auto 10px !important;
}

.ng2-tag-input__text-input {
  background: transparent !important;
}

mat-dialog-container {
  display: flex !important;
}

cdk-focus-trap {
  display: flex !important;
  flex: 1 !important;
}

div.cdk-focus-trap-content {
  display: flex;
  flex: 1;
}

ng-component {
  display: flex;
  flex-direction: column;
}
