/** Override the dialog modal material2 */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.85 !important;
}

.cdk-overlay-dark-backdrop {
    background: black !important;
}

.cdk-overlay-pane {
    z-index: 3000;
    max-height: 100%;
}

mat-dialog-container {
    position: relative !important;
    padding: 0 !important;
    border-radius: 3px !important;
    max-width: 100vw !important;
    background: transparent !important;
    overflow: hidden !important;
    padding-top: 36px !important;
}

.dialog-settings {

    flex: 1 1 auto;
    display: flex;
    overflow: auto;

    .settings-left {
        display: flex;
        flex-direction: column;
        background-color: #262626;
        color: #fff;
        width: 190px;
        position: relative;
        z-index: 1;

        .tab-bar-header,
        .tab-bar-item {
            display: inline-block;
            font-size: 14px;
            line-height: 1.25em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
        }

        .tab-bar-header {
            color: #fff;
            cursor: default;
            padding-top: 20px;
            padding-left: 18px;
            padding-bottom: 20px;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            font-size: 18px;
        }

        .tab-bar-item {
            flex-direction: row;
            display: flex;
            text-decoration: none;
            font-weight: 500;
            padding: 10px 6px 10px 20px;
            color: hsla(0,0%,100%,.3);
            cursor:pointer;

            &:hover {
                color: #fff;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                content: " ";
                border-left: 4px solid #607d8b;
                opacity: 0;
            }

            &.selected {
                color: #fff;
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .settings-right {
        flex: 1;
        display: flex;
        flex-direction: column;

        .settings-header {
            background-color: #f9f9f9;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
            box-sizing: border-box;
            padding: 1px 18px;
            flex-shrink: 0;
        }

        .settings-inner {
            background: #fff;
            overflow: hidden;
            display: flex;
            flex: 1;
        }

        .settings-actions {
            background-color: #f9f9f9;
            border-top: 1px solid #f0f0f0;
            width: 100%;
            box-sizing: border-box;
            padding: 18px 22px;
            text-align: right;
            flex-shrink: 0;
        }
    }
}
