<div class="toolbar-child-window">

    <div class="title">{{'app.window.update-dofus.title' | translate}}</div>

    <div class="close">
        <mat-icon class="pointer window-close mat-22" (click)="closeWindow()">close</mat-icon>
    </div>
</div>

<div class="main-content light-theme">

    <div class="col-xs-12">
        <div class="row information">
            <div class="col-xs-12 text-center">
                <strong>{{informations}}</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <mat-progress-bar [mode]="progressMode" class="example-margin" [value]="displayedProgress"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>
