<div class="option-content">

    <div class="row">
        <div class="col-xs-12 menu">
            <p>{{ 'app.window.options.features.general.menu.general' | translate }}</p>

            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.general.hidden_shop">{{ 'app.option.general.hide-shop' | translate }}
            </mat-checkbox><mat-checkbox color="primary" [(ngModel)]="settingsService.option.shortcuts.diver.active_open_menu">{{ 'app.option.shortcuts.diver.active-open-menu' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.disable_inactivity">{{ 'app.window.options.features.general.disable-inactivity' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.zaapsearchfilter">{{ 'app.window.options.features.general.zaapsearchfilter' | translate }}</mat-checkbox>
        </div>

        <div class="col-xs-12 menu">
            <p>{{ 'app.window.options.features.general.menu.fight' | translate }}</p>

            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.verticaltimeline">{{ 'app.window.options.features.general.vertical-timeline' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.challpercent">{{ 'app.window.options.features.general.chall-percent' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.notification.focus_fight_turn">{{ 'app.option.general.focus-fight-turn' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.fightchronometer">{{ 'app.window.options.features.general.fightchronometer' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.estimator">{{ 'app.window.options.features.general.estimator' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.health_bar">{{ 'app.window.options.features.general.health-bar' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.monster_tooltip">{{ 'app.window.options.features.general.monster-tooltip' | translate }}</mat-checkbox>
        </div>

        <div class="col-xs-12 menu">
            <p>{{ 'app.window.options.features.general.menu.group' | translate }}</p>

            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.party_info_pp">{{ 'app.option.vip.party-info.header-pp' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.party_info_lvl">{{ 'app.option.vip.party-info.header-lvl' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.party_member_on_map">{{ 'app.window.options.features.general.party-member-on-map' | translate }}</mat-checkbox>
        </div>

        <div class="col-xs-12 menu">
            <p>{{ 'app.window.options.features.general.menu.job' | translate }}</p>

            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.harvest_indicator">{{ 'app.window.options.features.general.harvest-indicator' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.jobsxp">{{ 'app.window.options.features.general.jobsxp' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="settingsService.option.vip.general.show_resources">{{ 'app.window.options.features.general.show-resources' | translate }}</mat-checkbox>
        </div>
    </div>
</div>
