<div class="option-content">

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" translate>app.window.shortcuts.description1</div>
        <div class="col-xs-12" translate>app.window.shortcuts.description2</div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <component-option-input-shortcuts *ngFor="let i of range(1,8)" id="spell{{i}}" name="{{ 'app.option.shortcuts.items.slot' | translate:{x:i} }}"
                [(model)]="settingsService.option.shortcuts.item[i-1]"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-3">
            <component-option-input-shortcuts *ngFor="let i of range(9,16)" id="spell{{i}}" name="{{ 'app.option.shortcuts.items.slot' | translate:{x:i} }}"
                [(model)]="settingsService.option.shortcuts.item[i-1]"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-3">
            <component-option-input-shortcuts *ngFor="let i of range(17,24)" id="spell{{i}}" name="{{ 'app.option.shortcuts.items.slot' | translate:{x:i} }}"
                [(model)]="settingsService.option.shortcuts.item[i-1]"></component-option-input-shortcuts>
        </div>
        <div class="col-xs-3">
            <component-option-input-shortcuts *ngFor="let i of range(25,30)" id="spell{{i}}" name="{{ 'app.option.shortcuts.items.slot' | translate:{x:i} }}"
                [(model)]="settingsService.option.shortcuts.item[i-1]"></component-option-input-shortcuts>
        </div>
    </div>
</div>